@media screen and (min-width: 701px) {
    #headshot img {
        max-width: 75%;
        margin-left: 50px;
        border-radius: 15px;
    }

    .image-grid img {
        max-width: 75%;
        border-radius: 15px;
    }
}

@media screen and (max-width: 700px) {
    #headshot img {
        max-width: 25%;
        margin-left: 50px;
        border-radius: 15px;
    }

    .image-grid img {
        max-width: 20%;
        margin: 8px;
        border-radius: 15px;
    }
}
